.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.App .card {
  width: 50%;
  display: flex;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px;
}
.App .card .avatar img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.App .card .content {
  padding: 0 10px;
  object-fit: contain;
}
.App .card p {
  margin: 0;
}
