.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.App .card {
  width: 50%;
  display: flex;
  overflow: hidden;
}
.App .card .avatar img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
