*,
body {
  box-sizing: border-box;
}
.App {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 50%;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px;
}
.App .card-body {
  display: flex;
  border: 1px solid #aaa;
}

.App .card .avatar img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  display: block;
}
.App .card .content {
  padding: 0 10px;
  object-fit: contain;
}
.App .card p {
  margin: 0;
}
